@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family:'Poppins', sans-serif !important;
}
body {
  background: -webkit-repeating-linear-gradient(45deg, #fff, #f7f7f7 10px); 
  background:    -moz-repeating-linear-gradient(45deg, #fff, #f7f7f7 10px);
  background:     -ms-repeating-linear-gradient(45deg, #fff, #f7f7f7 10px);
  background:      -o-repeating-linear-gradient(45deg, #fff, #f7f7f7 10px);
  background:         repeating-linear-gradient(45deg, #fff, #f7f7f7 10px);
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  transition:.2s;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  border-radius: 50%;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 -webkit-tap-highlight-color: transparent;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
  user-select: none;
}
i.material-icons:hover {
    background: rgba(255, 255, 255, 0.2) !important;
}
.rev i:hover {
  background: #f3f3f3 !important;
}
a{border-bottom:1px solid #000;text-decoration:none;color:inherit !important;}
i{margin-right:10px;cursor:pointer;color:inherit}
b{
  font-weight: normal;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60%;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}
button{
  padding:0;
  width:65px;
  height:65px;
  outline:none;
  font-size:15px;
  cursor:pointer;
  border-radius:50%;
  font-variant: small-caps;
  font-family:sans-serif !important;  
  box-shadow: 3px 2px 5px 0px #b4b4b4;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 -webkit-tap-highlight-color: transparent;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
  user-select: none;
}
#screen{width:100%;height:100%;position:fixed;top:0;left:0;z-index:1000;background:#FFF}
#header{
  top:0;
  left:0;
  height:1px;
  width:100%;
  z-index:996;
  color:#fff;
  Background:#fff;
  position:fixed;
  font-size:21px;
  box-sizing: border-box;
  padding: 21px 0 50px 35px;
  box-shadow: 0px 3px 6px #cccccc;
}
#clk{font-size:16px;color:inherit}
#cockpit{
  top:9px;
  right:0px;
  z-index:997;
  color:#fff;
  outline:none;
  display:flex;
  font-size:12px;
  user-select:none;
  position: fixed;
  padding: 6px 20px;
  animation:fadeIn .1s linear 1;
  -webkit-animation:fadeIn .1s linear 1; /* Safari */
}
.pd{padding:8px}
#close{color:#fff;font-weight:bold;padding:8px}
#count{
  font-size:17px;
  margin-right:20px;
  padding-top:8px;
}
#dot{
  width:3px;
  height:18px;
  display:inline-block;
  background:#fff;
  vertical-align:middle;
  margin:0px 20px 0px 20px;
}
.row{
  display:flex;
  justify-content: center;
  border-top: 2px solid #e4e4e4;
  border-bottom: 2px solid #e4e4e4;
  padding-top: 25px;
  padding-bottom: 25px;
}

.wire {
  top:0px;
  width:2px;
  height:25px;
  margin:0 auto;
  position:relative;
  border-left:2px solid #898989;
  border-right:2px solid #898989;
 }

#spinner {
  padding:0;
  z-index:995;
  border-radius:50%;
  color:transparent;
  position:absolute;
  border:3px solid #fff;
  border-top:3px solid #fff;
  background:transparent !important;
  animation:spin 1s linear infinite;
  -webkit-animation:spin 1s linear infinite; /* Safari */
}
#caption{
  left:0;
  right:0;
  top: 45px;
  margin:0 auto;
  font-size:14px;  
  text-align:center;
  position:relative;
  padding-bottom:50px;
}
#timeline{
  left:0;
  top:22%;
  right:0;
  display:block;
  margin:0 auto;
  position:absolute;
  text-align:center;
}
.cargo{
  padding: 12px 12px 24px 12px;
  border-bottom: 1px solid #ddd;
}
.clue{display:none}

.btn-x{
  color:#fff;
  float: right;
  cursor:pointer;
  font-size: 14px;
  border-radius: 6px;
  padding: 7px 15px 7px 15px;
  box-shadow:1px 1px 4px 0px #b4b4b4;
}

.hex-1{background: #000;}
.hex-2{background: #607d8b;}
.hex-3{background: #4caf50;}
.hex-4{background: #f44336;}
.hex-5{background: #9c27b0;}
.hex-6{background: #3f51b5;}
.hex-7{background: #2196f3;}
.hex-8{background: #16a34a;}


.pvc{background:#000;}
.fill{background:#000;color:#fff;border:2px inset #fff}
.empty{background:#fff;color:#000;border:1px inset #c2c2c2}


@media (min-width: 760px) {
  .wire{top:35px !important;}
  button{width:75px !important;height:75px !important}
  #spinner{margin-right:-75px !important}
}

@media (min-width: 560px) {
  .wire {
    top:29px;
    height: 3px;
    width: 40px;
    border-top:2px solid #898989;
    border-bottom:2px solid #898989;
    border-left:none;
    border-right:none;
  }
  #spinner {
    position:relative;
    margin-right:-65px;
  }
  #caption{
    top:190px;
    font-size:16px;  
    position:absolute;
  }
  #timeline{
    right:unset;
    left:50%;
    top:40%;
    flex-direction:row;
    display: inline-flex;
    transform: translateX(-50%);
  }
}

@media (max-width: 450px) {
  #clk{display:none}
  .clue{display:inline}
  b{display:none}
}
@media (max-width: 375px) {i{margin-right:5px}}
@media (max-width: 325px) {i{margin-right:2px}}
@media (max-width: 307px) {#booster{display:none}}
@media (max-width: 260px) {
  #help{display:none}
  #count{display:none}
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes pop {
  0% { transform:translate(-50%, -50%) scale(0.95); }
  100% { transform:translate(-50%, -50%) scale(1); }
}
@keyframes pop {
  0% { transform:translate(-50%, -50%) scale(0.95); }
  100% { transform:translate(-50%, -50%) scale(1); }
}
#modal {
  top: 50%;
  left: 50%;
  width: 30em;
  z-index:999;
  display: none;
  max-width: 90%;
  text-align: left;
  max-height:450px;
  background:#fff;
  position: absolute;
  border-radius: 10px;
  flex-direction: column;
  transform: translate(-50%, -50%);
  animation:0.1s pop 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
#modal-close {
  top: 8px;
  right: 1px;
  width: 45px;
  z-index: 999;
  height: 45px;
  color: #fff;
  display: flex;
  position: absolute;
  align-items: center;
  font-size: 20px;
  margin-right:10px;
  justify-content: center;
}

#modal-title {
  color:#fff;
  font-size: 20px;
  position: relative;
  box-sizing:border-box;
  padding: 15px 65px 15px 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom:1px solid #e0e0e0;
}

#modal-content {
  color:#000;
  overflow:auto;
  font-size:14px;
  margin-top:1px;
  background:#fff;
  margin-bottom:10px;
  padding: 12px 20px 12px 20px;
}

#overlay {
  transition: opacity 0.2s ease-out;
  background: rgba(15, 23, 42, 0.8);
  position: fixed;
  opacity: 0.5;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index:998;
  display:none;
}
.blanks{
  border: none;
  border-bottom: 1px dashed #000;
  width: 30px;
  outline: none;
  padding-left: 7px;
}
#tile{    
  width: 12px;
  height: 12px;
  border: 1px solid #000000;
  display: inline-block;
  vertical-align: middle;
  margin-left: 7px;
  box-sizing: border-box;
}
#slider{
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}
#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius:50%;
  border:2px solid #000;
  background: #fff;
  cursor: pointer;
}

#slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius:50%;
  border:2px solid #000;
  background: #fff;
  cursor: pointer;
}
.tile-8{background:#fff}
.line-8{background:#000}
